@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
  /* adds flex to vertically align the text so that its more visible on desktop */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

picture, 
picture img{
  width: 100%;
  height: 100%;
  display: block;
}

picture img{
  object-fit: cover;
}
@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
}